name: caddy-rproxy

services:
  caddy:
    image: caddy:2.10.2@sha256:c1ccc35f8ba2567b90b72c88da31f68dc511ad6424e3885e911f2fd3fdc45ea3
    restart: unless-stopped
    environment:
      CADDY_CONFIG: $CADDY_CONFIG
    networks:
      backend_net:
      homelan:
        ipv4_address: 10.2.11.19
        ipv6_address: fd00:10:2:11::19
    volumes:
      - /opt/docker/caddy/conf:/etc/caddy
      - /opt/docker/caddy/site:/srv
      - /opt/docker/caddy/data:/data
      - /opt/docker/caddy/caddy_config:/config
      - /opt/docker/rootca/root-ca.cert.pem:/etc/ssl/ca/certs/ca.crt:ro
      - /opt/docker/rootca/crl/root-ca.crl:/etc/ssl/ca/private/ca.crl:ro
    cap_add:
      - NET_ADMIN

networks:
  backend_net:
    external: true
    name: network_backend_net
  homelan:
    external: true
    name: network_homelan
