name: caddy-rproxy

services:
  caddy:
    image: caddy:2.10.2@sha256:c3d7ee5d2b11f9dc54f947f68a734c84e9c9666c92c88a7f30b9cba5da182adb
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./site:/srv
      - /opt/docker/caddy/data:/data
      - /opt/docker/caddy/caddy_config:/config
      - /opt/docker/rootca/root-ca.cert.pem:/etc/ssl/ca/certs/blausee_ca.crt:ro
      - /opt/docker/rootca/crl/root-ca.crl:/etc/ssl/ca/private/blausee-ca.crl:ro
      #- /opt/docker/rootca/crl/root-ca.crl:/etc/ssl/ca/private/blausee_ca.key
      - /opt/docker/rootca/intermediate/caddy-intermediate.crt.pem:/etc/ssl/ca/certs/caddy-intermediate.crt
      - /opt/docker/rootca/intermediate/caddy-intermediate.key.pem:/etc/ssl/ca/private/caddy-intermediate.key
    environment:
      CADDY_SUBDOMAIN: $CADDY_SUBDOMAIN
      CADDY_SUBDOMAIN2: $CADDY_SUBDOMAIN2
      CADDY_SUBDOMAIN3: $CADDY_SUBDOMAIN3
      CADDY_ADMIN_USER: $CADDY_ADMIN_USER
      CADDY_ADMIN_PASSWORD: $CADDY_ADMIN_PASSWORD
    networks:
      backend_net:
      homelan:
        ipv4_address: 10.2.11.19
        ipv6_address: fd00:10:2:11::19
    restart: unless-stopped
    user: 5100:5100
    cap_add:
      - NET_ADMIN

networks:
  backend_net:
    external: true
    name: network_backend_net
  homelan:
    external: true
    name: network_homelan
