name: caddy-rproxy

services:
  caddy:
    image: caddy:2.11.1@sha256:9068f76202c0a03545036d32bf2d424d3b46c1174f254070f605002a2dbc9657
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./site:/srv
      - /opt/docker/caddy/data:/data
      - /opt/docker/caddy/caddy_config:/config
      - /opt/docker/rootca/root-ca.cert.pem:/etc/ssl/ca/certs/blausee_ca.crt:ro
      - /opt/docker/rootca/intermediate/caddy-intermediate.crt.pem:/etc/ssl/ca/certs/caddy-intermediate.crt
      - /opt/docker/rootca/intermediate/caddy-intermediate.key.pem:/etc/ssl/ca/private/caddy-intermediate.key
    environment:
      CADDY_SUBDOMAIN: $CADDY_SUBDOMAIN
      CADDY_SUBDOMAIN2: $CADDY_SUBDOMAIN2
      CADDY_SUBDOMAIN3: $CADDY_SUBDOMAIN3
      CADDY_ADMIN_USER: $CADDY_ADMIN_USER
      CADDY_ADMIN_PASSWORD: $CADDY_ADMIN_PASSWORD
    networks:
      backend_net:
      homelan:
        ipv4_address: 10.2.11.19
        ipv6_address: fd00:10:2:11::19
    restart: unless-stopped
    user: 5100:5100
    cap_add:
      - NET_ADMIN

networks:
  backend_net:
    external: true
    name: network_backend_net
  homelan:
    external: true
    name: network_homelan
