{
	acme_ca https://acme.zerossl.com/v2/DV90
	email sven@blausee.eu
	pki {
		ca blausee_ca {
			root {
				format pem_file
				cert /etc/ssl/ca/certs/blausee_ca.crt
			}
			intermediate {
				format pem_file
				cert /etc/ssl/ca/certs/caddy-intermediate.crt
				key /etc/ssl/ca/private/caddy-intermediate.key
			}
		}
	}
}

(missing_mTLS_cert) {
	@missing_mTLS_cert {
		expression {tls_client_subject} == ""
	}
}

(valid_mTLS_cert) {
	@valid_mTLS_cert {
		expression {tls_client_serial} == "3"
	}
}

(admin_user) {
	{$CADDY_ADMIN_USER} {$CADDY_ADMIN_PASSWORD}
}

(private_auth) {
	import missing_mTLS_cert
	basicauth @missing_mTLS_cert {
		import admin_user
	}
}

(mTLS_required) {
	tls {
		client_auth {
			mode require_and_verify
			trust_pool file {
				pem_file /etc/ssl/ca/certs/blausee_ca.crt
			}
		}
	}
}

(local_ip_ranges) {
	not remote_ip 10.2.11.0/24
}

# use this import if you want to be able to fallback to basic auth
(mTLS_optional) {
	tls {
		client_auth {
			mode verify_if_given
			trust_pool file {
				pem_file /etc/ssl/ca/certs/blausee_ca.crt
			}
		}
	}
}
(authelia_forward_auth) {
	forward_auth authelia:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
	}
}
(fhem_basic_auth_secret_missing) {
	@fhem_basic_auth_secret_missing {
		expression "{$FHEM_BASIC_AUTH_HEADER}" == ""
	}
}
(fhem_client_cert_headers) {
	header_up X-Client-Cert-Subject {tls_client_subject}
	header_up X-Client-Cert-Serial {tls_client_serial}
	header_up X-Client-Cert-Fingerprint {tls_client_fingerprint}
}
(fhem_transport) {
	transport http {
		tls_server_name zeus.fritz.box
		tls_trust_pool file {
			pem_file /etc/ssl/ca/certs/blausee_ca.crt
		}
	}
}
(fhem_upstream) {
	reverse_proxy https://fhem-fhem-1.network_backend_net:8083 {
		import fhem_client_cert_headers
		import fhem_transport
	}
}
(fhem_upstream_with_auth_header) {
	reverse_proxy https://fhem-fhem-1.network_backend_net:8083 {
		header_up Authorization {$FHEM_BASIC_AUTH_HEADER}
		import fhem_client_cert_headers
		import fhem_transport
	}
}
(logging_info) {
	log {
		level INFO
	}
}
(n8n_upstream) {
	reverse_proxy https://n8n-n8n-1.network_backend_net:5678 {
		header_up X-Client-Cert-Subject {tls_client_subject}
		header_up X-Client-Cert-Serial {tls_client_serial}
		header_up X-Client-Cert-Fingerprint {tls_client_fingerprint}
		transport http {
			tls_server_name n8n
			tls_trust_pool file {
				pem_file /etc/ssl/ca/certs/blausee_ca.crt
			}
		}
	}
}
#pi2 {
#  tls internal
#  import mTLS_optional
#  import private_auth
#  import valid_mTLS_cert
#  reverse_proxy @valid_mTLS_cert 10.2.11.2:8083
#}


fhem.{$CADDY_SUBDOMAIN} {
	import mTLS_optional
	import missing_mTLS_cert
	import fhem_basic_auth_secret_missing
	encode gzip
	route {
		handle @missing_mTLS_cert {
			import authelia_forward_auth
			handle @fhem_basic_auth_secret_missing {
				import fhem_upstream
			}
			handle {
				import fhem_upstream_with_auth_header
			}
		}
		handle @fhem_basic_auth_secret_missing {
			import fhem_upstream
		}
		handle {
			import fhem_upstream_with_auth_header
		}
	}
	import logging_info
}

dms.{$CADDY_SUBDOMAIN} {
	encode gzip
	import authelia_forward_auth
	reverse_proxy http://paperless-ngx-webserver-1.network_backend_net:8000
	import logging_info
}

auth.{$CADDY_SUBDOMAIN} {
	import mTLS_optional
	encode gzip
	reverse_proxy http://authelia:9091 {
		header_up X-Client-Cert-Serial {tls_client_serial}
		header_up X-Client-Cert-Subject {tls_client_subject}
		header_up X-Client-Cert-Fingerprint {tls_client_fingerprint}
	}
	import logging_info
}

# Uncomment this in addition with the import admin_redir statement allow access to the admin interface only from local networks
(admin_redir) {
	@admin {
		path /admin*
	}
	redir @admin /
}
(bitwarden_security_headers) {
	import bitwarden_frame_options DENY
}
(bitwarden_frame_options) {
	header / {
		# Enable HTTP Strict Transport Security (HSTS)
		Strict-Transport-Security "max-age=31536000;"
		# Disable cross-site filter (XSS)
		X-XSS-Protection "0"
		# Disallow the site to be rendered within a frame (clickjacking protection)
		X-Frame-Options "{args[0]}"
		# Prevent search engines from indexing (optional)
		X-Robots-Tag "noindex, nofollow"
		# Disallow sniffing of X-Content-Type-Options
		X-Content-Type-Options "nosniff"
		# Server name removing
		-Server
		# Remove X-Powered-By though this shouldnt be an issue, better opsec to remove
		-X-Powered-By
		# Remove Last-Modified because etag is the same and is as effective
		-Last-Modified
	}
}
(bitwarden_upstream) {
	reverse_proxy http://bitwarden.network_backend_net:8889 {
		header_up X-Real-IP {remote_host}
	}
}

bitwarden.{$CADDY_SUBDOMAIN} {
	encode gzip
	import admin_redir
	route {
		@tasks path /api/tasks
		handle @tasks {
			header Content-Type application/json
			respond `{"data":[],"object":"list"}` 200
		}
	}
	# If you want to use FIDO2 WebAuthn, set X-Frame-Options to "SAMEORIGIN" or the Browser will block those requests
	import bitwarden_security_headers
	import bitwarden_upstream
	import logging_info
}

bitwarden.{$CADDY_SUBDOMAIN3} {
	tls {
		issuer internal {
			ca blausee_ca
		}
	}
	encode gzip
	import bitwarden_frame_options SAMEORIGIN
	import bitwarden_upstream
	import logging_info
}

# caddy.{$CADDY_SUBDOMAIN2} {
#       import mTLS_required
#       encode gzip
#       reverse_proxy https://fhem-docker-test-fhem-1.network_backend_net:8083 {
#                       transport http {
#                                       tls_insecure_skip_verify
#                       }
#       }
#       import logging_info
# }

ui.{$CADDY_SUBDOMAIN} {
	import mTLS_required
	root * /srv/ftui
	rewrite /images/* /fhem{uri}

	reverse_proxy /fhem/images/* https://fhem-fhem-1.network_backend_net:8088 {
		transport http {
			tls_server_name zeus.fritz.box
			tls_trust_pool file {
				pem_file /etc/ssl/ca/certs/blausee_ca.crt
			}
		}
	}
	file_server
	#import logging_info
	log {
		level DEBUG
	}
}

landing.{$CADDY_SUBDOMAIN} {
	encode gzip
	@landingApiMe {
		method GET HEAD
		path /api/me
	}
	route {
		handle @landingApiMe {
			import authelia_forward_auth
			rewrite * /webhook/landing/api/me
			import n8n_upstream
		}
		handle {
			import authelia_forward_auth
			root * /srv/landingpage
			try_files {path} /index.html
			file_server
		}
	}
	import logging_info
}

workflow.{$CADDY_SUBDOMAIN} {
	import mTLS_optional
	@workflowAssets {
		path /assets/*
	}
	@apiMe {
		method GET HEAD
		path /api/me
	}
	# Allow Telegram to call only the Scanservjs token reissue webhook without mTLS.
	@telegramReissueWebhook {
		method POST
		header X-Telegram-Bot-Api-Secret-Token {$TELEGRAM_WEBHOOK_SECRET}
		path /webhook/scanservjs/telegram/reissue /webhook-test/scanservjs/telegram/reissue
	}
	# Allow the external Alexa/Gemini integrations to call only their dedicated n8n webhook aliases without mTLS.
	@alexaGeminiWebhook {
		method POST
		path /webhook/antannah/alexa-gemini /webhook-test/antannah/alexa-gemini /webhook/sven/alexa-gemini /webhook-test/sven/alexa-gemini
	}
	@webhooksMtls {
		path /webhook/* /webhook-test/*
		expression {tls_client_subject} != ""
	}
	@webhooksAuthelia {
		path /webhook/* /webhook-test/*
		expression {tls_client_subject} == ""
	}
	route {
		handle @workflowAssets {
			root * /srv/workflow
			file_server
		}
		handle @apiMe {
			import authelia_forward_auth
			rewrite * /webhook/landing/api/me
			import n8n_upstream
		}
		handle @telegramReissueWebhook {
			import n8n_upstream
		}
		handle @alexaGeminiWebhook {
			import n8n_upstream
		}
		handle @webhooksMtls {
			import n8n_upstream
		}
		handle @webhooksAuthelia {
			import authelia_forward_auth
			import n8n_upstream
		}
	}
	import logging_info
}

n8n.{$CADDY_SUBDOMAIN3} {
	tls {
		issuer internal {
			ca blausee_ca
		}
	}
	import n8n_upstream
}
